{% extends 'admin_home/base_template.html' %}
{% block page_title %}
Manage Subject
{% endblock page_title %}
{% block main_content %}
    <section class="content">
      <div class="container-fluid">


           <div class="row">
           <div class="col-12">
             <div class="card">
               <div class="card-header">
                 <h3 class="card-title">Subject Details</h3>

                 <div class="card-tools">
                   <div class="input-group input-group-sm" style="width: 150px;">
                     <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                     <div class="input-group-append">
                       <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                     </div>
                   </div>
                 </div>
               </div>
               <div class="card-body table-responsive p-0">
                 <table class="table table-hover text-nowrap">
                   <thead>
                     <tr>
                       <th>ID</th>
                       <th>Subject Name</th>
                       <th>Class Name</th>
                       {# Removed redundant Course ID column - Course Name is usually sufficient #}
                       {# <th>Course ID</th> #}
                       <th>Staff Name</th>
                       <th>Action</th>
                     </tr>
                   </thead>
                   <tbody>
                   {% for subject in subjects %}
                     <tr>
                       <td>{{ subject.id }}</td>
                       <td>{{ subject.subject_name }}</td>
                       {# Access related course using the new field name 'course' #}
                       <td>{{ subject.course.course_name }}</td>
                       {# Access related course using the new field name 'course' #}
                       {# If you still need Course ID, uncomment the header and this line #}
                       {# <td>{{ subject.course.id }}</td> #}
                       {# Access related staff using the new field name 'staff', then the related user's name #}
                       <td>{{ subject.staff.user.first_name }} {{ subject.staff.user.last_name }}</td>
                       {# Use the url tag for the edit link #}
                       <td><a href="{% url 'edit_subject' subject.id %}" class="btn btn-success">Edit</a></td>
                     </tr>
                   {% endfor %}
                   </tbody>
                 </table>
               </div>
               </div>
             </div>
         </div>
      </div>
    </section>
    {% endblock main_content %}